<!-- header child-->
<app-header (onMenuBtnClick)="toggle()"></app-header>
<!-- sidenav -->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" [opened]="sidebarOpened">
        <!-- sidebar -->
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <!-- dashboard -->
        <!-- <app-dashbd></app-dashbd> -->
        <!-- user requested page -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
<!-- dividing line -->
<mat-divider></mat-divider>
<!-- footer -->
<app-footer></app-footer>