<!-- card -->
<div class="cards">
    <!-- card 1 -->
    <mat-card >
        <app-card 
        bg="red"
        icon="person"
        description="Students"
        count="2000"
        ></app-card>
    </mat-card>
    <!-- card 2 -->
    <mat-card>
        <app-card
        bg="yellow"
        icon="home"
        description="Institution"
        count="50"
        ></app-card>
    </mat-card>
    <!-- card 3 -->
    <mat-card>
        <app-card
        bg="green"
        icon="groups"
        description="Employees"
        count="1000"
        ></app-card>
    </mat-card>
    <!-- card 4 -->
    <mat-card>
        <app-card
        bg="blue"
        icon="dashboard"
        description="Placements"
        count="1500"
        ></app-card>
    </mat-card>
</div>

<!-- area chart -->
<div class="area">
    <app-area-chart></app-area-chart>
</div>

<!-- table -->
<div class="tablepie">
    <div>
        <app-table></app-table>
    </div>
    
    <!-- piechart -->
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>